## 1.1 XGBoost 소개

### 1.1.1 머신러닝이란?

## 1.2 데이터 랭글링

### 1.2.1 데이터셋 1 - 자전거 대여

In [1]:
import pandas as pd

In [2]:
df_bikes = pd.read_csv('data/bike_rentals.csv')

In [3]:
df_bikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1.0,0.0,1.0,0.0,6.0,0.0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1.0,0.0,1.0,0.0,0.0,0.0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1.0,0.0,1.0,0.0,1.0,1.0,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1.0,0.0,1.0,0.0,2.0,1.0,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1.0,0.0,1.0,0.0,3.0,1.0,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

### 1.2.2 데이터 이해하기

In [4]:
df_bikes.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,730.000000,730.000000,731.000000,731.000000,731.000000,731.000000,730.000000,730.000000,728.000000,726.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500000,6.512329,0.028728,2.997264,0.682627,1.395349,0.495587,0.474512,0.627987,0.190476,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500343,3.448303,0.167155,2.004787,0.465773,0.544894,0.183094,0.163017,0.142331,0.077725,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.336875,0.337794,0.521562,0.134494,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,0.499166,0.487364,0.627083,0.180971,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,9.750000,0.000000,5.000000,1.000000,2.000000,0.655625,0.608916,0.730104,0.233218,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [5]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    float64
 3   yr          730 non-null    float64
 4   mnth        730 non-null    float64
 5   holiday     731 non-null    float64
 6   weekday     731 non-null    float64
 7   workingday  731 non-null    float64
 8   weathersit  731 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         728 non-null    float64
 12  windspeed   726 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(10), int64(5), object(1)
memory usage: 91.5+ KB

### 1.2.3 누락된 값 처리하기

In [6]:
df_bikes.isna().sum().sum()

np.int64(12)

In [7]:
df_bikes[df_bikes.isna().any(axis=1)]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
56,57,2011-02-26,1.0,0.0,2.0,0.0,6.0,0.0,1,0.282500,0.282192,0.537917,NaN,424,1545,1969
81,82,2011-03-23,2.0,0.0,3.0,0.0,3.0,1.0,2,0.346957,0.337939,0.839565,NaN,203,1918,2121
128,129,2011-05-09,2.0,0.0,5.0,0.0,1.0,1.0,1,0.532500,0.525246,0.588750,NaN,664,3698,4362
129,130,2011-05-10,2.0,0.0,5.0,0.0,2.0,1.0,1,0.532500,0.522721,NaN,0.115671,694,4109,4803
213,214,2011-08-02,3.0,0.0,8.0,0.0,2.0,1.0,1,0.783333,0.707071,NaN,0.205850,801,4044,4845
298,299,2011-10-26,4.0,0.0,10.0,0.0,3.0,1.0,2,0.484167,0.472846,0.720417,NaN,404,3490,3894
388,389,2012-01-24,1.0,1.0,1.0,0.0,2.0,1.0,1,0.342500,0.349108,NaN,0.123767,439,3900,4339
528,529,2012-06-12,2.0,1.0,6.0,0.0,2.0,1.0,2,0.653333,0.597875,0.833333,NaN,477,4495,4972
701,702,2012-12-02,4.0,1.0,12.0,0.0,0.0,0.0,2,NaN,NaN,0.823333,0.124379,892,3757,4649
730,731,2012-12-31,1.0,NaN,NaN,0.0,1.0,0.0,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [8]:
df_bikes.fillna({'windspeed': df_bikes['windspeed'].median()}, inplace=True)

In [9]:
df_bikes.iloc[[56, 81]]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
56,57,2011-02-26,1.0,0.0,2.0,0.0,6.0,0.0,1,0.282500,0.282192,0.537917,0.180971,424,1545,1969
81,82,2011-03-23,2.0,0.0,3.0,0.0,3.0,1.0,2,0.346957,0.337939,0.839565,0.180971,203,1918,2121

In [10]:
df_bikes.fillna({'hum': df_bikes.groupby(['season'])['hum'].transform('median')}, inplace=True)

In [11]:
df_bikes.iloc[[129, 213, 388]]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
129,130,2011-05-10,2.0,0.0,5.0,0.0,2.0,1.0,1,0.532500,0.522721,0.646667,0.115671,694,4109,4803
213,214,2011-08-02,3.0,0.0,8.0,0.0,2.0,1.0,1,0.783333,0.707071,0.635833,0.205850,801,4044,4845
388,389,2012-01-24,1.0,1.0,1.0,0.0,2.0,1.0,1,0.342500,0.349108,0.543750,0.123767,439,3900,4339

In [12]:
df_bikes[df_bikes['temp'].isna()]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
701,702,2012-12-02,4.0,1.0,12.0,0.0,0.0,0.0,2,NaN,NaN,0.823333,0.124379,892,3757,4649

In [13]:
mean_temp = (df_bikes.iloc[700]['temp'] + df_bikes.iloc[702]['temp']) / 2
mean_temp

np.float64(0.37541650000000004)

In [14]:
mean_atemp = (df_bikes.iloc[700]['atemp'] + df_bikes.iloc[702]['atemp']) / 2
mean_atemp

np.float64(0.38634999999999997)

In [15]:
df_bikes.fillna({'temp': mean_temp, 'atemp': mean_atemp}, inplace=True)

In [16]:
df_bikes.iloc[[701]]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
701,702,2012-12-02,4.0,1.0,12.0,0.0,0.0,0.0,2,0.375417,0.38635,0.823333,0.124379,892,3757,4649

In [17]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    float64
 3   yr          730 non-null    float64
 4   mnth        730 non-null    float64
 5   holiday     731 non-null    float64
 6   weekday     731 non-null    float64
 7   workingday  731 non-null    float64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(10), int64(5), object(1)
memory usage: 91.5+ KB

In [18]:
df_bikes['dteday'] = df_bikes['dteday'].apply(pd.to_datetime, errors='coerce')

In [19]:
df_bikes.tail()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
726,727,2012-12-27,1.0,1.0,12.0,0.0,4.0,1.0,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1.0,1.0,12.0,0.0,5.0,1.0,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1.0,1.0,12.0,0.0,6.0,0.0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1.0,1.0,12.0,0.0,0.0,0.0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1.0,NaN,NaN,0.0,1.0,0.0,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [20]:
df_bikes['mnth'] = df_bikes['dteday'].dt.month

In [21]:
df_bikes.tail()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
726,727,2012-12-27,1.0,1.0,12,0.0,4.0,1.0,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1.0,1.0,12,0.0,5.0,1.0,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1.0,1.0,12,0.0,6.0,0.0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1.0,1.0,12,0.0,0.0,0.0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1.0,NaN,12,0.0,1.0,0.0,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [22]:
df_bikes.loc[730, 'yr'] = 1.0

In [23]:
df_bikes = df_bikes.drop('dteday', axis=1)

## 1.3 회귀 모델 만들기

### 1.3.1 자전거 대여 예측하기

In [24]:
df_bikes = df_bikes.drop(['casual', 'registered'], axis=1)

### 1.3.2 나중을 위해서 데이터 저장히기

In [25]:
df_bikes.to_csv('data/bike_rentals_cleaned.csv', index=False)

### 1.3.3 특성과 타깃 준비하기

In [26]:
X = df_bikes.iloc[:, :-1]
y = df_bikes.iloc[:, -1]

### 1.3.4 회귀 이해하기

### 1.3.5 사이킷런 사용하기

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

### 1.3.6 경고 끄기

In [31]:
import warnings
warnings.filterwarnings('ignore')

### 1.3.7 선형 회귀 모델 만들기

In [32]:
lin_reg = LinearRegression()

In [33]:
lin_reg.fit(X_train, y_train)

LinearRegression()

In [34]:
y_pred = lin_reg.predict(X_test)

In [35]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [36]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [37]:
"RMSE: %0.2f" % rmse

'RMSE: 898.21'

In [38]:
df_bikes['cnt'].describe()

count     731.000000
mean     4504.348837
std      1937.211452
min        22.000000
25%      3152.000000
50%      4548.000000
75%      5956.000000
max      8714.000000
Name: cnt, dtype: float64

### 1.3.8 XGBoost

### 1.3.9 XGBRegressor

In [41]:
from xgboost import XGBRegressor

In [42]:
xg_reg = XGBRegressor()

In [43]:
xg_reg.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [44]:
y_pred = xg_reg.predict(X_test)

In [46]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

In [47]:
"RMSE: %0.2f" % rmse

'RMSE: 693.21'

### 1.3.10 교차 검증

In [49]:
from sklearn.model_selection import cross_val_score

In [50]:
model = LinearRegression()

In [52]:
scores = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=10)

In [54]:
rmse = np.sqrt(-scores)

In [56]:
print('회귀 rms:', np.round(rmse, 2))
print('RMSE 평균: %0.2f' % (rmse.mean()))

회귀 rms: [ 504.01  840.55 1140.88  728.39  640.2   969.95 1133.45 1252.85 1084.64
 1425.33]
RMSE 평균: 972.02

In [57]:
model = XGBRegressor()

In [58]:
scores = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=10)

In [59]:
rmse = np.sqrt(-scores)

In [60]:
print('회귀 rms:', np.round(rmse, 2))
print('RMSE 평균: %0.2f' % (rmse.mean()))

회귀 rms: [ 869.03  902.85  556.63  685.42  890.73  930.6   890.65  879.29  747.78
 2067.64]
RMSE 평균: 942.06

## 1.4 분류 모델 만들기

### 1.4.1 분류에 대해서

### 1.4.2 데이터셋2 - 인구 조사

### 1.4.3 데이터 랭글링

In [86]:
df_census = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)

In [87]:
df_census.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [88]:
df_census.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 
                   'relationship', 'race', 'sex','capital-gain', 'capital-loss', 'hours-per-week ', 
                   'native-country', 'income']
df_census.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [89]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   education-num    32561 non-null  int64
 5   marital-status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   sex              32561 non-null  object
 10  capital-gain     32561 non-null  int64
 11  capital-loss     32561 non-null  int64
 12  hours-per-week   32561 non-null  int64
 13  native-country   32561 non-null  object
 14  income           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [90]:
df_census = df_census.drop(['education'], axis=1)

In [91]:
df_census = pd.get_dummies(df_census)
df_census.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
1,50,83311,13,0,0,13,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,38,215646,9,0,0,40,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
3,53,234721,7,0,0,40,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
4,28,338409,13,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [92]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 94 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   age                                         32561 non-null  int64
 1   fnlwgt                                      32561 non-null  int64
 2   education-num                               32561 non-null  int64
 3   capital-gain                                32561 non-null  int64
 4   capital-loss                                32561 non-null  int64
 5   hours-per-week                              32561 non-null  int64
 6   workclass_ ?                                32561 non-null  bool
 7   workclass_ Federal-gov                      32561 non-null  bool
 8   workclass_ Local-gov                        32561 non-null  bool
 9   workclass_ Never-worked                     32561 non-null  bool
 10  workclass_ Private                          32561 non-null  bool
 11  workclass_ Self-emp-inc                     32561 non-null  bool
 12  workclass_ Self-emp-not-inc                 32561 non-null  bool
 13  workclass_ State-gov                        32561 non-null  bool
 14  workclass_ Without-pay                      32561 non-null  bool
 15  marital-status_ Divorced                    32561 non-null  bool
 16  marital-status_ Married-AF-spouse           32561 non-null  bool
 17  marital-status_ Married-civ-spouse          32561 non-null  bool
 18  marital-status_ Married-spouse-absent       32561 non-null  bool
 19  marital-status_ Never-married               32561 non-null  bool
 20  marital-status_ Separated                   32561 non-null  bool
 21  marital-status_ Widowed                     32561 non-null  bool
 22  occupation_ ?                               32561 non-null  bool
 23  occupation_ Adm-clerical                    32561 non-null  bool
 24  occupation_ Armed-Forces                    32561 non-null  bool
 25  occupation_ Craft-repair                    32561 non-null  bool
 26  occupation_ Exec-managerial                 32561 non-null  bool
 27  occupation_ Farming-fishing                 32561 non-null  bool
 28  occupation_ Handlers-cleaners               32561 non-null  bool
 29  occupation_ Machine-op-inspct               32561 non-null  bool
 30  occupation_ Other-service                   32561 non-null  bool
 31  occupation_ Priv-house-serv                 32561 non-null  bool
 32  occupation_ Prof-specialty                  32561 non-null  bool
 33  occupation_ Protective-serv                 32561 non-null  bool
 34  occupation_ Sales                           32561 non-null  bool
 35  occupation_ Tech-support                    32561 non-null  bool
 36  occupation_ Transport-moving                32561 non-null  bool
 37  relationship_ Husband                       32561 non-null  bool
 38  relationship_ Not-in-family                 32561 non-null  bool
 39  relationship_ Other-relative                32561 non-null  bool
 40  relationship_ Own-child                     32561 non-null  bool
 41  relationship_ Unmarried                     32561 non-null  bool
 42  relationship_ Wife                          32561 non-null  bool
 43  race_ Amer-Indian-Eskimo                    32561 non-null  bool
 44  race_ Asian-Pac-Islander                    32561 non-null  bool
 45  race_ Black                                 32561 non-null  bool
 46  race_ Other                                 32561 non-null  bool
 47  race_ White                                 32561 non-null  bool
 48  sex_ Female                                 32561 non-null  bool
 49  sex_ Male                                   32561 non-null  bool
 50  native-country_ ?                           32561 non-null  bool
 51  native-country_ Cambodia                    32561 non-null  bool
 52  native-country_ Canada                      32561 non-null  bool
 53  native-country_ China                       32561 non-null  bool
 54  native-country_ Columbia                    32561 non-null  bool
 55  native-country_ Cuba                        32561 non-null  bool
 56  native-country_ Dominican-Republic          32561 non-null  bool
 57  native-country_ Ecuador                     32561 non-null  bool
 58  native-country_ El-Salvador                 32561 non-null  bool
 59  native-country_ England                     32561 non-null  bool
 60  native-country_ France                      32561 non-null  bool
 61  native-country_ Germany                     32561 non-null  bool
 62  native-country_ Greece                      32561 non-null  bool
 63  native-country_ Guatemala                   32561 non-null  bool
 64  native-country_ Haiti                       32561 non-null  bool
 65  native-country_ Holand-Netherlands          32561 non-null  bool
 66  native-country_ Honduras                    32561 non-null  bool
 67  native-country_ Hong                        32561 non-null  bool
 68  native-country_ Hungary                     32561 non-null  bool
 69  native-country_ India                       32561 non-null  bool
 70  native-country_ Iran                        32561 non-null  bool
 71  native-country_ Ireland                     32561 non-null  bool
 72  native-country_ Italy                       32561 non-null  bool
 73  native-country_ Jamaica                     32561 non-null  bool
 74  native-country_ Japan                       32561 non-null  bool
 75  native-country_ Laos                        32561 non-null  bool
 76  native-country_ Mexico                      32561 non-null  bool
 77  native-country_ Nicaragua                   32561 non-null  bool
 78  native-country_ Outlying-US(Guam-USVI-etc)  32561 non-null  bool
 79  native-country_ Peru                        32561 non-null  bool
 80  native-country_ Philippines                 32561 non-null  bool
 81  native-country_ Poland                      32561 non-null  bool
 82  native-country_ Portugal                    32561 non-null  bool
 83  native-country_ Puerto-Rico                 32561 non-null  bool
 84  native-country_ Scotland                    32561 non-null  bool
 85  native-country_ South                       32561 non-null  bool
 86  native-country_ Taiwan                      32561 non-null  bool
 87  native-country_ Thailand                    32561 non-null  bool
 88  native-country_ Trinadad&Tobago             32561 non-null  bool
 89  native-country_ United-States               32561 non-null  bool
 90  native-country_ Vietnam                     32561 non-null  bool
 91  native-country_ Yugoslavia                  32561 non-null  bool
 92  income_ <=50K                               32561 non-null  bool
 93  income_ >50K                                32561 non-null  bool
dtypes: bool(88), int64(6)
memory usage: 4.2 MB

In [93]:
df_census = df_census.drop('income_ <=50K', axis=1)

In [94]:
X = df_census.iloc[:,:-1]
y = df_census.iloc[:,-1]

### 1.4.4 로지스틱 회귀

In [95]:
from sklearn.linear_model import LogisticRegression

In [102]:
def cross_val(classifier, num_splits=10):
    model = classifier
    scores = cross_val_score(model, X, y, cv=num_splits)
    print('정확도:', np.round(scores, 2))
    print('평균 정확도: %0.2f' % (scores.mean()))

In [103]:
cross_val(LogisticRegression())

정확도: [0.8  0.8  0.79 0.8  0.8  0.8  0.79 0.79 0.8  0.79]
평균 정확도: 0.79

### 1.4.5 XGBClassifier

In [105]:
from xgboost import XGBClassifier

In [ ]:
cors